<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onClose()" >
      <mat-icon>face</mat-icon>
      <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()" >
      <mat-icon>input</mat-icon>
      <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onClose()" >
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-caption">Training</span>
    </a>
    <mat-list-item>
      <!-- <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Logout</span>
      </button> -->
    </mat-list-item>
  </mat-nav-list>
<!-- <div class="side-bar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="new-user">
        <mat-icon>add</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/firms">
        <mat-icon>language</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="substsnces">
        <mat-icon style="color: rgb(245, 69, 69)">invert_colors</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/products'">
        <mat-icon style="color: rgb(154, 154, 247)">security</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/crops">
        <mat-icon style="color: greenyellow">local_florist</mat-icon>
      </a>
    </li>
    
  </ul>
</div> -->
