<div class="edit-page">
    <nav aria-label="breadcrumb" >
        <ul class="breadcrumb" style="background-color: rgb(228, 204, 204);">
            <li class="breadcrumb-item" aria-current="page">
                <h3 style="color: brown; font-weight: bold;">
                  <mat-icon style="color: brown">invert_colors</mat-icon>
                  А. ВЕЩЕСТВА
                </h3>
            </li>
            <li class="breadcrumb-item">
                <a mat-raised-button routerLink="all" class="fa fa-edit btn btn-info">
                    <mat-icon>list</mat-icon>
                    ВСИЧКИ
                </a>
            </li>
            <li class="breadcrumb-item">
                <a mat-raised-button routerLink="add" class="fa fa-edit btn btn-secondary">
                    <mat-icon>add</mat-icon>
                    ДОБАВИ
                </a>
            </li>
        </ul>
    </nav>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>
