<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">РЕДАКТИРАНЕ НА ФИРМА</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-8">

        <form method="put" class="edit-form" *ngIf="exampleForm" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Име на фирмата" class="form-control" formControlName="name" >
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
              <mat-error
                *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Страна" class="form-control" formControlName="country" >
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.country">
              <mat-error
                *ngIf="exampleForm.get('country').hasError(validation.type) && (exampleForm.get('country').dirty || exampleForm.get('country').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
              <mat-form-field class="input-style">
                <div class="custom-control custom-radio">
                  <input id="male" type="radio" class="custom-control-input" value="0" name="isActive" formControlName="isActive" ngModel [checked]="exampleForm.value.isActive == 0 ? true : false" >
                  <label class="custom-control-label" for="male">Активна</label>
               </div>
            
               <div class="custom-control custom-radio">
                  <input id="female" type="radio" class="custom-control-input" value="1" name="isActive" formControlName="isActive" ngModel [checked]="exampleForm.value.isActive == 1 ? true : false" >
                  <label class="custom-control-label" for="female">Деактивирай!</label>
               </div>
              </mat-form-field>
              <ng-container *ngFor="let validation of validation_messages.isActive">
                <!-- <mat-error *ngIf="exampleForm.get('isActive').hasError(validation.type) && (exampleForm.get('isActive').dirty || exampleForm.get('isActive').touched)">{{validation.message}}</mat-error> -->
                <!-- <mat-error *ngIf="exampleForm.get('isActive').hasError(validation.type) && (exampleForm.get('isActive').dirty)">{{validation.message}}</mat-error> -->
              </ng-container>
            </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit"
                [disabled]="!exampleForm.valid">Save</button>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="delete-button" color="warn" type="button"
                (click)="delete()">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
