<div class="edit-page">
    <nav aria-label="breadcrumb" >
        <ul class="breadcrumb" >
            <li class="breadcrumb-item" aria-current="page">
                <h3 style="font-weight: bold;">
                  <mat-icon style="color: black">language</mat-icon>
                  ФИРМИ
                </h3>
            </li>
            <li class="breadcrumb-item">
                <a mat-raised-button routerLink="all" class="fa fa-edit btn btn-info">
                    <mat-icon>list</mat-icon>
                    ВСИЧКИ
                </a>
            </li>
            <li class="breadcrumb-item">
                <a mat-raised-button routerLink="add" class="fa fa-edit btn btn-secondary">
                    <mat-icon>add</mat-icon>
                    ДОБАВИ
                </a>
            </li>
            <li class="breadcrumb-item">
                <a mat-raised-button routerLink="not-active" class="fa fa-edit btn btn-danger">
                    <mat-icon>delete</mat-icon>
                    Неактивни
                </a>
            </li>
        </ul>
    </nav>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>