<div class="list-group users-list">
    <div class="row">
      <div class="col col-md-12 text-col ">
        <h2 class="mb-1">{{item.name}}</h2>
        <h3 class="mb-1">{{item.country}}</h3>
        <small class="mb-1">ID: {{item.id}} ; DB_ID: {{item.db_id}} ; ABC: {{item.alphabet}}</small>
      </div>
      <!-- <div class="col col-md-2 actions-col">
        <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
          <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
        </button>
      </div> -->
    </div>
</div>
