<div class="page-container">
	<div class="side-bar">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" routerLink="home">
					<mat-icon>home</mat-icon>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="new-user">
					<mat-icon>add</mat-icon>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="firms">
					<mat-icon>language</mat-icon>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="substsnces">
					<mat-icon style="color: rgb(245, 69, 69)">invert_colors</mat-icon>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="products">
					<mat-icon style="color: rgb(154, 154, 247)">security</mat-icon>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="crops">
					<mat-icon style="color: greenyellow">local_florist</mat-icon>
				</a>
			</li>
			
		</ul>
	</div>
	<div class="content-container">
 		<router-outlet></router-outlet>
	</div>
</div>
